<link rel="stylesheet" href="../static/styles/accounts.css">
{%extends 'base.html'%}
{% block body %}
<div class="accountsContainer">
    {% for teacher in teachers %}
    <ul class="accountItem">
            <li>ID: {{teacher[0]}}</li>
            <li>First name: {{teacher[1]}}</li>
            <li>Last name: {{teacher[2]}}</li>
            <li>Email: {{teacher[3]}}</li>
    </ul>
    {% endfor %} 
    {% for student in students %}
    <ul class="accountItem">
            <li>ID: {{student[0]}}</li>
            <li>First name: {{student[1]}}</li>
            <li>Last name: {{student[2]}}</li>
            <li>Email: {{student[3]}}</li>
            <li></li>
    </ul>
    {% endfor %} 
</div>
{% endblock %}