<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/base.css">
    <title>Title</title>
</head>
<body>
    <header>
        <div class="headerContainer">
            <div class="navMenu">
                <img src="https://img.freepik.com/premium-vector/school-building-city-red-home-house-with-bushes-education-learning-training-knowledge-information-cartoon-flat-vector-illustration-isolated-white-background_1002658-2326.jpg" alt="school">
                <ul class="nav">
                    <li class="navItem"><a href="">Sign up</a></li>
                    <li class="navItem"><a href="">Login</a></li>
                    <li class="navItem"><a href="">View accounts</a></li>
                    <li class="navItem"><a href="">Take a test</a></li>
                    <li class="navItem"><a href="">Create a test</a></li>
                </ul>
            </div>
        </div>
    </header>
    {% block body %}
    {% endblock %}
    <footer>
        <div class="footerContainer">
            <div class="footerNavMenu">
                <div class="footerSection">

                </div>
                <div class="footerItemsWrapper">
                    <ul class="footerNav">
                        <li class="footerNavItem">Terms of Use</li>
                        <li class="footerNavItem">Privacy Policy</li>
                        <li class="footerNavItem"></li>
                        <li class="footerNavItem"></li>
                        <li class="footerNavItem"></li>
                    </ul>
                    <div class="footerSectionLegal">
                        <p>&copy; 2025 Example Inc. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>