<link rel="stylesheet" href="../static/styles/styles.css">
{% extends 'base.html' %}
{% block body %}
    <div class="page">
        <form class="login-form" method="POST" action="{{ url_for('loginPost') }}">
            {% if error %}
                <h4 class="login-error">{{error}}</h4>
            {% endif %}
            {% if success %}
                <h4 class="login-success">{{success}}</h4>
            {% endif %}
            <select id="type" name="type" class="input-field">
                <option value="students">Student</option>
                <option value="teachers">Teacher</option>
            </select>
            <input type="text" name="email" placeholder="Email" class="input-field" required>
            <input type="password" name="password" placeholder="Password" class="input-field" required>
            <input type="submit" value="Login" class="input-submit">
            <h4>Don't have an account? <a href="/signup" class="signup-link">Signup</a></h4>
        </form>
    </div>
{% endblock %}
