<link rel="stylesheet" href="../static/styles/styles.css">
{% extends 'base.html' %}
{% block body %}
    <div class="login-page">
        <form class="login-form">
            <input type="text" name="username" placeholder="username" class="input-field" required>
            <input type="text" name="password" placeholder="password" class="input-field" required>
            <input type="submit" value="Login" class="input-submit">
            <h4>Don't have an account? <a href="/signup" class="signup-link">Signup</a></h4>
        </form>
    </div>
{% endblock %}
