<link rel="stylesheet" href="../static/styles/test_info.css">
<script>
    function showTestInfo(event){
        let wrapper = event.target.closest('.testWrapper').querySelector('.attemptInfoWrapper');
        if (wrapper){
            wrapper.classList.toggle('hidden');
        }
    }
</script>
{%extends 'base.html'%}
{% block body %}
<h2 class="title">Test information</h2>
<div class="testContainer">
    {% for i in range(testRows|length) %}
    <div class="testWrapper"> 
        <table class="testItem">
            <tr>
                <th class="itemHeader">Test Name</th>
                <th class="itemHeader">Created by</th>
                <th class="itemHeader">Attempts</th>
            </tr>
            <tr>
                <td>{{ testRows[i][1] }}</td>
                <td>{{ teacher_dict.get(testRows[i][2], 'Unknown') }}</td>
                <td>{{ count.get(testRows[i][0], '0') }}</td>
            </tr>
        </table>

        <button class="icon" onclick="showTestInfo(event)">
            <i class="fa-solid fa-circle-info"></i>
        </button>

        <table class="attemptInfoWrapper hidden">
            <tr>
                <th class="attemptHeader">Student</th>
                <th class="attemptHeader">Graded by</th>
                <th class="attemptHeader">Score</th>
            </tr>
            {% for grade in gradeData %}
            {% if grade[0] == testRows[i][0] %}
            <tr>
                <td>{{ student_dict.get(grade[1]|int, 'Unknown') }}</td>
                <td>{{ teacher_dict.get(grade[2]|int, 'Unknown') }}</td>
                <td>{{ grade[3] }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>
    {% endfor %}
</div>
{% endblock %}