<link rel="stylesheet" href="../static/styles/styles.css">
<link rel="stylesheet" href="../static/styles/accounts.css">
{% extends 'base.html' %}
{% block body %}
<div class="page">
    <div class="accountsContainer">
        {% for i in range(tests|length) %}
        <ul class="accountItem">
                <li>Test Name: {{tests[i][2]}}</li>
                <li>Teacher Name: {{teachers[i][0][0]}}</li>
                <li>Questions: {{tests[i][3]}}</li>
                <li class="takeTestBtn">
                    <a class="test-btn" href="/test/{{tests[i][0]}}">Take test</a>
                </li>
                <li>
                    <button class="edit-btn"><i class="fa-solid fa-pen-to-square"></i></button>
                </li>
        </ul>
        {% endfor %}
    </div>
</div>
{% endblock %}