@import url(../styles/base.css);

body{
    background-color: var(--color-3);
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    color: var(--color-2);
    font-family: var(--font-main);
    font-size: 30px;
    text-transform: uppercase;
}

.accountsContainer{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    align-items: center;
    margin: 0 auto;
    max-width: 1000px;
    background-color: var(--color-4);
    padding: 15px;
    font-family: var(--font-main);
}

.accountItem{
    margin: 10px;
    height: 150px;
    width: 300px;
    background-color: #fff;
    padding: 10px;
    list-style: none;
}


/* ------------------------------------ */
/* ---- TEST ITEMS EDIT-BTN STYLES ---- */
/* ------------------------------------ */


.fa-pen-to-square{
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-1);
    padding: 5px;
    height: 30px;
    width: 30px;
    text-align: center;
    color: var(--color-3);
}

.fa-pen-to-square:hover{
    background-color: var(--color-2);
  
  
/*  --------------------------------  */
/*  ---- ACCOUNTS FILTER STYLES ----  */
/*  --------------------------------  */
  
.accountsFilter {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    max-width: 1000px;
    background-color: var(--color-4);
    font-family: var(--font-main);
    font-size: 20px;
}
#accounts-filter {
    margin-top: 4px;
    margin-left: 4px;
    background-color: #fff;
}