*{
    box-sizing: border-box;
    margin: 0;
}

:root{
    --color-1: #606C38;
    --color-2: #283618;
    --color-3: #fdffed;
    --color-4: #c5d399;
    --color-5: #BC6C25;
    --font-main: 'Barlow Semi Condensed';
}

/* Order properties:
+-------------------+
|      display      |
|     properties    |
|                   |
|      margin       |
|                   |
|  +---border----+  |
|  |             |  |
|  |  background |  |
|  |    color    |  |
|  |             |  |
|  |   padding   |  |
|  |             |  |
|  |  +-------+  |  |
|  |  | height|  |  |
|  |  | width |  |  |
|  |  | list  |  |  |
|  |  | text  |  |  |
|  |  | color |  |  |
|  |  | font  |  |  |
|  |  | cursor|  |  |
|  |  +-------+  |  |
|  +-------------+  |
+-------------------+ 
*/


/* ----------------------- */
/* ---- HEADER STYLES ---- */
/* ----------------------- */


.headerContainer{
    margin: auto;
    height: 100px;
    padding: 25px auto;
    background-color: var(--color-1);
    font-family: var(--font-main);
}

.navMenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.headerLogo img{
    height: 50px;
    margin: auto 0 auto 10px;
}

.headerLogo{
    display: flex;
    align-items: center;
}

.brand{
    margin-left: 10px;
    color: var(--color-2);
    font-size: 50px;
}

.nav{
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}

.navItem{
    height: 100%;
    width: fit-content;
    padding-top: 10px;
    list-style: none;
    text-transform: uppercase;
}

.navItem > a{
    text-decoration: none;
    color: var(--color-3);
    cursor: pointer;
}

.navItem > a:hover{
    color: var(--color-5);
}

/* ----------------------- */
/* ---- FLYOUT STYLES ---- */
/* ----------------------- */

.flyout{
    background-color: var(--color-4);
    height: 0px;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 100;
    right: 0;
    overflow: hidden;
    transition: 0.5s;
}

#close{
    display: block;
    float: right;
    position: absolute;
    top: -10;
    right: 0;
    margin-right: 10px;
    text-decoration: none;
    color: var(--color-5);
    font-size: 35px;
}

.signout{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button#signout-btn{
    margin: 25px auto;
    border: none;
    border-radius: 5px;
    background-color: #606C38;
    height: 35px;    
    width: 60%;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-3);
    font-size: 15px;
    cursor: pointer;
}

button#signout-btn:hover{
    background-color: #283618;
}

/* ---- REUSABLE STYLES ----  */

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    text-transform: uppercase;
    color: var(--color-2);
    font-family: var(--font-main);
    font-size: 30px;
}

/* ----------------------- */
/* ---- FOOTER STYLES ---- */
/* ----------------------- */


footer{
    background-color: var(--color-1); 
    font-family: var(--font-main);
}

.footerNavMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 100px;
}

.footerItemsWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 95%;
}

.footerNav{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.footerNavItem{
    margin: auto 20px auto auto;
    color: var(--color-3);
    cursor: pointer;
}

.footerNavItem:hover{
    color: var(--color-5);
}

/* footer social icons */

.socialNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.socialNavItem{
    margin: 10px;
    cursor: pointer;
}

.socialNavItem > i{
    height: 20px;
    color: var(--color-3);
}

.socialNavItem > i:hover{
    color: var(--color-5);
}