*{
    box-sizing: border-box;
    margin: 0;
}

:root{
    --color-1: #606C38;
    --color-2: #283618;
    --color-3: #fdffed;
    --color-4: #c5d399;
    --color-5: #BC6C25;
}


/* ----------------------- */
/* ---- HEADER STYLES ---- */
/* ----------------------- */


.headerContainer{
    margin: auto;
    height: 100px;
    padding: 25px auto;
    background-color: var(--color-1);
    font-family: 'Barlow Semi Condensed';
}

.navMenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.headerLogo img{
    height: 50px;
    margin: auto 0 auto 10px;
}
.headerLogo{
    display: flex;
    align-items: center;
}

.brand{
    margin-left: 10px;
    color: var(--color-2);
    font-size: 50px;
}
.nav{
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}
.navItem{
    height: 100%;
    width: fit-content;
    padding-top: 10px;
    list-style: none;
    text-transform: uppercase;
}
.navItem > a{
    text-decoration: none;
    color: var(--color-3);
}


/* ----------------------- */
/* ---- FOOTER STYLES ---- */
/* ----------------------- */


footer{
    height: 150px;
    background-color: var(--color-1); 
    font-family: 'Barlow Semi Condensed';
}
.footerNavMenu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.footerSection{
    width: 17%;
    height: 150px;
    background-color: var(--color-2);
}
.footerItemsWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 83%;
}
.footerNav{
    list-style: none;
}
.footerSectionLegal{
    margin-right: 100px;
}