@import url(../styles/base.css);

body{
    background-color: (--color-3);
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    color: var(--color-2);
    font-family: 'Barlow Semi Condensed';
    font-size: 30px;
    text-transform: uppercase;
}

.testFormContainer{
    display: flex;
    align-items: center;
    margin: 0 auto;
    min-height: calc(100vh - 250px);
    max-width: 1000px;
    padding: 15px;
    background-color: var(--color-4);
}
.testForm{
    display: flex;
    align-items: center;
    margin: 0 auto;
    min-height: 200px;
    width: 100%;
    padding: 10px;
    background-color: #fff;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.startQuestions{
    display: grid;
    grid-template-columns: auto 45%;
    gap: 10px;
    align-items: center;
    margin: 0 auto;
}
#create{
    margin: 12px auto;
}
.question{
    margin: 10px auto;
    width: 250px;
}