body {
    margin: 0;
    box-sizing: border-box;
}

.btn {
    background-color: #4CAF50;
    border-radius: 5px;
    padding: .1rem 1rem;
    text-decoration: none;
    color: black;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 400px);
    /* 400 is the header height + footer height */
    justify-content: center;
    align-items: center;
    background-color: #cfcfcf;
    padding: 4rem;
}

/* Home Start */

.home-login {
    font-weight: 500;
    background-color: #4CAF50;
    border-radius: 5px;
    padding: 1rem 2rem;
    text-decoration: none;
    color: black;
}

/* Home End */


/* Login / Signup Page Start*/

.login-form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
}

.input-field {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.input-submit {
    font-size: 1.2rem;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.input-submit:hover {
    background-color: #449c47;
}

.signup-link {
    text-decoration: none;
}

.login-error {
    color: red;
    text-align: center;
}

.login-success {
    color: #4CAF50;
    text-align: center;
}

/* Login / Signup Page End */